<% if flash[:errors] %>
  <ul>
    <% flash[:errors].each do |error| %>
      <li style="color:red;"><%= error %></li>
    <% end %>
  </ul>
<% end %>
<p style="color:green"> <%=notice%> </p>
<div>
  <p>
    <strong>First Name:</strong>
    <%= user.first_name %>
  </p>
  <p>
    <strong>Last Name:</strong>
    <%= user.last_name %>
  </p>
  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>
   <p>
    <strong>Password:</strong>
    <%= user.password %>
  </p>
  <p>
    <strong>Subscription Email:</strong>
    <%= user.subscription_email%>
  </p>
 </div>