<h1 class="center">User Listing</h1>
<center>
  <div>
    <table>
      <th>User Name</th>
      <th colspan=4>Actions</th>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.first_name + " " + user.last_name%></td>
          <td><%= button_to "Show",user_path(user),method: :get %></td>
          <td><%= button_to "Edit_profile",profile_user_path(user),method: :get %></td>
          <td><%= button_to "Delete",user_path(user),method: :delete, form: {data: {turbo_confirm: 'Are you sure?'}} %></td> 
        </tr>
      <% end %>
    </table>
  </div>
</center>
<center>
  <p><%= link_to "New User",new_user_path, method: :get %></p>
</center>
