<center> Update Profile </center>
<%= form_with(model: @user, method: :patch, url:update_profile_user_path, local:false ) do |form| %>
  <div style="height:50%;width:50%;margin-left:25%;" > 
    <div>
      <%= form.label :first_name,"First Name"%>
      <div>
      <%= form.text_field :first_name %>
      </div>
    </div>
    <div>
      <%= form.label :last_name,"Last Name"%>
      <div >
      <%= form.text_field :last_name%>
      </div>
    </div>
    <div>   
      <%= form.label :email %>
      <div>
      <%= form.email_field :email,onchange:"check_pass();", id:"email" %>
      </div>
    </div>
    <div id="obj" style="display:none;">
      <%= form.label :password,"Password" %>
      <div >
        <%= form.password_field :password %>
      </div>
    </div>
    <div id="subscription">
      <%= form.check_box :subcription, id:"myCheck" %>
      <%= form.label "subscription" %>
    </div>
    <% if @user.subcription %>
      <div id="div" >   
        <%= form.label :subscription_email %>
        <div>
        <%= form.email_field :subscription_email,id:"subscription_email" %>
        </div>
      </div>
    <% else %>
       <div id="div" style="display:none;">   
        <%= form.label :subscription_email, style: "display: block" %>
        <%= form.email_field :subscription_email,id:"subscription_email" %>
      </div>
    <% end %>
    <div id="submit">
      <%=form.submit  data: { disable_with: "Saving..." } %>
    </div>
  </div>
<% end %>
<div class="center">
  <div id="result">
  </div>

  <% if flash[:errors] %>
    <ul>
      <% flash[:errors].each do |error| %>
        <li style="color:red;"><%= error %></li>
      <% end %>
    </ul>
  <% end %>
  <%= link_to "Change Paasword", change_password_user_path(@user) %>
</div>

<script>
//for subscription email
  document.getElementById("myCheck").addEventListener("click", function() {
    toggle('div');
  });
  function toggle(obj) {
    var el = document.getElementById(obj);
    el.style.display = (el.style.display != 'none' ? 'none' : '' );
  }
  function check_pass(){
    var email = "<%=@user.email%>";
    if(email != document.getElementById("email").value){
      document.getElementById("obj").style.display = "flex";
    }else{
      document.getElementById("obj").style.display = "none";
    }
  } 
</script>
